<h1> <%= @eatery.name %></h1> 

<img src=" <%= @eatery.image %> " >

<p> <%= @eatery.address %> </p>

<p1> <%= @eatery.description  %></p1>

<form method="post" action="/eateries/<%= @eatery.id %>" >
<input type="submit" value="Delete" />
</form>

<h2>Menu</h2>
<table>
  <tr>
    <th>Burger</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Update</th>
    <th></th>
    <th>Delete</th>
  </tr>
  <% for menu_item in @menu_items  %>
  <tr>
    <td> <%=menu_item.burger.name  %></td>
    <td>|</td>
    <td> £<%=menu_item.price  %> </td>
    <td>|</td>
    <td> 
      <form method="get" action="/menu_items/<%= menu_item.id %>/edit" >
        <input type="submit" value="Edit" />
      </form>
    </td>
    <td>|</td>
    <td> 
      <form method="post" action="/menu_items/<%= menu_item.id %>" >
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>