<h1> <%= @deal.name %> <%= @deal.burger.name %>'s at <%= @deal.eatery.name %></h1> 

<form method="get" action="/deals/<%= @deal.id %>/edit" >
<input type="submit" value="Edit" />

<form method="post" action="/deals/<%= @deal.id %>" >
<input type="submit" value="Delete" />

